@charset "UTF-8";

@font-face {
                    font-family: idroid;
                    src: url(../fontes/Black_Ops_One/BlackOpsOne-Regular.ttf); format(truetype);               
}



*{
 margin: 0;
 padding: 0;                   
}
body{
  font-family: sans-serif; 
  background-color: black;              
}
header{
    background-image: linear-gradient(to top, black, white);
    color: white;
    text-align: center; 

}
header h1{
    font-family: idroid;   
    margin: 30px 30px;
    font-size: 3em; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);            
}
header p{
    font-size: 1.2em;
    font-family: idroid;
    margin: 20px 20px 0px 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);

}
nav{
    background-color: black;
    color: white;  

}
nav a{
    color: white;
    text-decoration: none;
    font-family: idroid;
    padding: 20px 10px;
    display: inline-block;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.222);
}
nav a:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
main{
     max-width: 1100px;   
     min-height: 350px;
     margin: 0 auto 0 auto;
     background-image:url(../imagens/espaco.jpg)           
}
main h1{
    font-family: idroid;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding: 20px;
    text-align: center;
    font-size: 2em;
}
.img{
   text-align: center;  
                  
}
div picture{
    display: inline-block;
    margin: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: idroid;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}
footer a{
    color: white;
    text-decoration: none;
    font-family: idroid;
    padding: 5px 10px;
    display: inline-block;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.222);
}

footer a:hover{
    color:blue;
    text-decoration: underline;

    
  
}