@charset "UTF-8";

*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
                    
}
header, section.normal{
                    padding: 20px;
}
p, h1, h2{
                    margin-bottom: 10px;
                    text-align: justify;
                   
}
p{
                 padding: 10px;   
}
h1{
                    text-align: center;
}
h2{
                    padding: 10px;
}
main{
     margin: 0 auto;    
     max-width: 1400px;           
}
section.flex-container{
         background-color: rgba(211, 211, 211, 0.382);  
         padding: 20px; 
         display: flex;  
         flex-flow: column nowrap; 
         gap: 20px;     
}
article.text-media{
        display: flex; 
        flex-flow: row wrap; 
        justify-content: space-between;
               
}
article.media-text{
      display: flex; 
      flex-flow: row wrap-reverse; 
      justify-content: space-between;
                
}
article > div.text{
      flex: 1 1 500px; 
                 
}
article > div.media{
      flex: 1 0 400px; 
                 
}
div.media img{
      display: block;
      margin: auto;         
}
div.media iframe{
      display: block;
      margin: auto; 
      width: 90%;             
}
